.firstBloc {
    display: flex;
    flex-direction: row;
    height: 450px;
    width: 67%;
    margin: 100px auto;
    background-color: #f0f8ff70;
    border-radius: 25px;
}

.imgBloc {
    height: 450px;
    width: 620px;
    background: url("../../asserts/129.jpg") no-repeat;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
.freeCons {
    text-align: center;
    margin-top: 20px;
    color: white;
}

@media (max-width: 620px) {
    .imgBloc {
        display: none;
    }
    .firstBloc {
        width: 400px;
    }
}