.topImg{
    height: 500px;
    width: 85%;
    margin: 100px auto;
    background-image: url("../../asserts/bug-bg2.jpg");
    border-radius: 40px;
}
.info{
    width: 70%;
    margin: 100px auto;
    height: 300vh;
    background-color: white;
    border-radius: 25px;
}
.text{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.text h1 {
    margin-top: 30px;
}
.text h2 {
    margin-top: 30px;
    color: #000063ba;
    margin-bottom: 25px;
}
.textUl{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    margin-top: 25px;
}

.textUl li{
    text-align: left;
    margin-top: 20px;
    list-style-image: url("../../asserts/caret-right-fill-custom.svg");
}
.textUl img {
    border-radius: 15px;

    height: 360px;
    width: 50%;;
}

.benefixConteiner{
    margin-top: 100px;
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #a9a9a96b;
    color: white;
    height: 320px;
}
.benefixConteiner div{
    padding: 20px 30px;
    width: 32%;
    height: 100%;
    border-radius: 25px;
    background-color: white;
    color: #484848;
}
.benefixConteiner p{
    margin-bottom: 30px;
}