.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    /*background: linear-gradient(90deg, rgba(1,140,181,1) 0%, rgb(3, 1, 103) 100%, rgba(0,212,255,1) 100%);*/

}
.logoSocialNet{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}
.logoSocialNet a{
    margin-right: 15px;
}
.logoSocialNet a:hover{
    color: #ffdd40;
}
.footerMenu{
    border-color: white;
    display: flex;
}
.footerMenu a{
    color: white;
}
.footerCont{
    color: white;
}
.footerCont h1{
    margin-bottom: 20px;

}
.footerCont p{
    margin-bottom: 10px;
}
.footerContAndMAp{
    width: 70%;
    margin: 20px 15% ;
    display: flex;
    justify-content: space-between;
}
.footer hr{
    color: white;
    height: 5px;
    margin: 35px 16%;
    background-color: white;
    border-radius: 15px;
}
.map iframe{
    border-radius: 15px;
}

.footerMenu  {
    color: white;
    width: 70%;
    margin: 25px 15% 40px ;
    display: flex;
    justify-content: center;

}
.footerMenu a{
    margin-left: 40px;
}


@media (max-width: 880px) {
    .footerContAndMAp{
        display: flex;
        flex-direction: column;
    }
    .footerYear{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footerMenu{
        width: 86%;
        margin: 10px 7% 0 ;
        justify-content: space-between;
    }
    .footerYear h2{
        text-align: center;
    }
    .footerCont{
        text-align: center;
    }
    .footerMenu a{

        margin-left: 0;
    }
}